@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--bg-color: rgb(163, 105, 51);
	--primary-color: #080808;
	--logo-color-redish: #c65647;
	--logo-color-darkblueish: #1e3b44;
	--logo-color-lightblueish: #2da4d3;
	--logo-color-yellowish: #e2a440;
}

body {
	background: var(--bg-color);
}
